<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵_주문하기</title>
	
	<link rel="stylesheet" type="text/css" href="common/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12" id="registration_content">
			<form>
				<div class="col-12 content_header">
					<h2>주문정보</h2>
				</div>
				<div class="col-12 product_order_contents" id="member_product_order_contents">
					<div class="col-2 product_order_content_image" id="member_product_order_content_image">
						
					</div>
					<div class="col-6 product_order_information" id="member_product_order_information">
						<h2>제품명</h2>
						<h2>가격</h2>
						<p>간략한 소개</p>
					</div>
					<div class="col-2 product_order_quantity" id="member_product_order_quantity">
						<h2>1개</h2>
					</div>
				</div>
				<div class="col-12 content_header">
					<h2>결제하기</h2>
				</div>
				<div class="col-11 payment_information">
					<div class="col-12 payment_information_content">
						<h2>이름</h2>
						<input type="text" name="payment_information_name">
					</div>
					<div class="col-12 payment_information_content">
						<h2>주소</h2>
						<input type="text" name="payment_information_address">
						<div class="payment_information_small_btn">
							<input id="member_payment_information_address_search" class="payment_information_small_button" type="button" name="payment_information_address_search" value="찾기">
						</div>
						
					</div>
					<div class="col-12 payment_information_content">
						<h2>상세주소</h2>
						<input type="text" name="payment_information_address_detail">
					</div>
					
					<div class="col-12 payment_information_content">
						<h2>쿠폰</h2>
						<input type="text" name="payment_information_coupon">
						<div class="payment_information_small_btn">
							<input id="member_payment_information_coupon" class="payment_information_small_button" type="button" name="payment_information_phone_certification" value="쿠폰보기">
						</div>
					</div>
				</div>
				

				<div class="col-2 insert_btn">
	            	<input type="submit" name="member_product_order_submit" value="완료">
	            </div>
			</form>
			
		</div>
	</div>
	
   <div class="col-12" id="footer">

   </div>
   <script src="/common/js/footer.js"></script>

</body>
</html>