<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/swiper.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	<script src="/js/swiper.min.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>
		
			
	<div class="col-9 container">		
		<div class="col-12 lucky_box_content_contaner">
			<div class="col-12 content_header" id="product_detail_content_header">
					<h2 class="col-12">제품</h2>
				</div>
			<div class="col-6" id="lucky_box_image">
				<img th:src="'data:image/jpeg;base64,'+${product.getProductThumbnail()}">
			</div>
			<div class="col-6" id="lucky_box_content">
					<h1 th:text="${product.getProductName()}">오리온 과자세트</h1>
					<p th:text="${product.getProductDetail()">여러가지 과자를 맛볼 수 있는 가성비 템 ! 지금 구매하세요!</p>
					<div class="col-12 product_content_btn">
						<div id="product_content_heart">
							
						</div>
						<input id="product_purchase" class="submit" type="button" name="lucky_box_purchase"  value="구매하기">
						<input id="product_gift" class="submit" type="button" name="lucky_box_purchase"  value="선물하기">
						<input id="product_basket" class="submit" type="button" name="lucky_box_purchase"  value="장바구니에 담기">
						
					</div>
			</div>
			<div class="col-12" id="lucky_box_components">
				<div class="col-12" id="lucky_box_components_header">
					<h2>제품상세</h2>
				</div>
				<div class="col-6" id="lucky_box_components_img">
					<img src="/img/lucky_box_components_image.png">
				</div>
				<div class="col-6" id="lucky_box_components_font">
					<h3>구성품</h3>
					<p>고래밥, 배배, 초코칩쿠키, 오감자, 왕꿈틀이, 마이구미, 비틀즈, 오뜨 포카칩 오리지널, 초코송이, 꼬북칩, 썬칩, 눈을감자</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12" id="footer" th:replace="/html/common/footer.html :: footer">
	</div>
</body>

</html>