<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>과자샵</title>

    <link rel="stylesheet" type="text/css" href="/common/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="col-9 container">
        <div class="col-12" id="header" th:replace="/html/common/header :: header">

        </div>
    </div>


        <div class="col-9 container">
            <div class="col-12" id="content">
                <form onsubmit="return false;" >
                    <div class="col-12 content_header">
                        <h2>회원가입</h2>
                    </div>
                    
                    <div class="col-12">
                        <div class="col-8 sign_up_input" id="name_input" >
                            <h2>이름 : </h2>
                            <input type="text" name="name" placeholder="이름을 입력주세요." required>
                        </div>
                    </div>
                    <div class="col-8 sign_up_input" id="phone_number">
                        <h2>휴대폰 : </h2>
                        <input type="text" name="phone" required>-
                        <input type="text" name="phone" required>-
                        <input type="text" name="phone" required>
                        <button type="button">인증번호 받기</button>
                    </div>
                    <div class="col-8 sign_up_input" id="id_input">
                        <h2>아이디 : </h2>
                        <input type="text" name="id" placeholder="아이디를 입력주세요." required>
                        <div class="payment_information_small_btn">
                            <button id="idCheck" class="payment_information_small_button" type="button">중복확인</button>
                        </div>
                        <h2 id="checkResult" style="color: red;"></h2>
                    </div>
                    <div class="col-8 sign_up_input" id="pwd_input">
                        <h2>비밀번호 : </h2>
                        <input type="password" name="pwd" placeholder="비밀번호를 입력주세요." required>
                    </div>

                    <div class="col-8 sign_up_input" id="re_pwd_input">
                        <h2>비밀번호 확인 : </h2>
                        <input type="password" name="pwd_confirm" placeholder="비밀번호를 입력주세요." required>
                    </div>
                    <div class="col-8 sign_up_input" id="birth_input">
                        <h2>생년월일 : </h2>
                        <input type="date" name="birth" value="2021-01-01" required>
                    </div>
                    <div class="col-8 sign_up_input" id="gender_choice">
                        <h2>성별 : </h2>
                        <input type="radio" name="gender" value="man" checked="checked">남
                        <input type="radio" name="gender" value="woman">여
                    </div>
                    <div class="col-8 sign_up_input">
                        <h2>우편번호</h2>
                        <input type="text" name="zoneCode" disabled="disabled">
                       <div class="payment_information_small_btn">
                            <button id="addrSearch" class="payment_information_small_button" type="button">우편번호 검색</button>
                        </div>
                    </div>
                    <div class="col-8 sign_up_input">

                        <h2>기본배송지 : </h2>
                        <input type="text" name="address" disabled="disabled">

                    </div>
                    <div class="col-8 sign_up_input" id="address_detail">
                        <h2>상세주소 : </h2>
                        <input type="text" name="address_detail" required>
                    </div>
                    <div class="col-8 sign_up_input">
                        <h2>이메일 : </h2>
                        <input type="text" name="email" required> @
                        <select name="email" id="sign_up_email">
                            <option>naver.com</option>
                            <option>daum.net</option>
                            <option>google.com</option>
                        </select>
                    </div>
                    <div class="col-2 insert_btn">
                        <input type="submit" name="sign_up_submit" id="submit" class="join_submit" value="가입하기" >
                        <button type="submit" name="sign_up_submit" id="submits" class="join_submits" disabled={a}>가입</button>
                    </div>
                </form>
                </div>


        </div>
    </div>

    <div class="col-12" id="footer" th:replace="/html/common/footer.html :: footer">
    </div>

</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    var submit = $("#submit")
    submit.on("click",function(){
        let id = $("input[name='id']").val();
        let pwd = $("input[name='pwd']").val();
        let birth = $("input[name='birth']").val();
        let gender = $("input[name='gender']").val();
        let address = $("input[name='address']").val();
        let email = $("input[name='email']").val();
        let zoneCode = $("input[name='zoneCode']").val();
        let email2 = $("#sign_up_email").val();
        let addressDetail = $("input[name='address_detail']").val();
        let phone = "";
        let phoneInput = $("input[name='phone']");

        for(let i = 0; i<phoneInput.length;i++){

            phone += phoneInput[i].value ;
            if(i<phoneInput.length-1)
                phone+= "-"
        }
        if(!idCheck()){
            $("input[name='id']").focus();
            return;
        }
        $.ajax(
        	{
                url:"/member/join",
                type:"POST",
                data:JSON.stringify({
                    name:name,
                    id:id,
                    pwd:pwd,
                    birth:birth,
                    gender:gender,
                    address:address,
                    email:email+"@"+email2,
                    zoneCode:zoneCode,
                    addressDetail:addressDetail,
                    phone:phone,
                }),
                dataType : "json",
                contentType: 'application/json',
                success:()=>{
                    location.href = "http://localhost:8080/login";
                }
		    }
		)
    })

    var addrSearch = $("#addrSearch");
    addrSearch.on("click",function(){
        new daum.Postcode({
            oncomplete: function(data) {
                console.log(data)
                $("input[name='zoneCode']").val(data.zonecode);
                $("input[name='address']").val(data.roadAddress)
                //roadAddress 주소
                //zonecode 우편번호
            }
        }).open();
    })

    $("#idCheck").on("click",idCheck);

    function idCheck(){
        let id = $("input[name='id']").val();
        let check = false;
        let text = "사용 불가능한 아이디입니다.";
        $.ajax({
            url:"/member/check",
            type:"POST",
            data:JSON.stringify({
                id: id,
            }),
            dataType : "json",
            contentType: 'application/json',
            success:function(data){
                    check= data;
                    if(check){
                    text = "사용 가능한 아이디입니다."
                    }
                $("#checkResult").text(text);
            },
        })


        return check;
    }

</script>

</html>