<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/mypage.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	  <script type="text/javascript" src="/js/mypage.js"></script>
</head>
<body>
	<div class="col-12 modal">
		<div class="col-4 modal_content">
		    <div class="col-1 modal_out_btn">
		      	<img src="/img/delete_button.png">
		    </div>
		    <div class="col-12 modal_header">
		     	<h2>쿠폰함</h2>
		    </div>
		    <div class="col-12 model_layout">
		        <h2>첫 가입기념 쿠폰</h2>
		        <p>유효기간 : 2021-10-13 ~ 2023-12-31일 까지</p>
		    </div>
		    <div class="col-12 model_layout">
		        <h2>첫 가입기념 쿠폰</h2>
		        <p>유효기간 : 2021-10-13 ~ 2023-12-31일 까지</p>
		    </div>
		</div>
	</div>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12">
			<div class="col-12 content_header">
				<h2>마이페이지</h2>
				<div class="col-2 left_menu_btn">
					<div class="col-8 left_menu_btns">
						<a href=""><button type="button" name="go_basket" value="장바구니">장바구니</button></a>
					</div>
					<div class="col-8 left_menu_btns">
						<a href=""><button type="button" name="go_basket" value="마이페이지">고객센터</button></a>
					</div>
					<!-- 선택 됐을때  -->
					<div class="col-8 left_menu_btns" id="left_menu_btns_choice">
						<a href=""><button type="button" name="go_basket" value="마이페이지">마이페이지</button></a>
					</div>
					<div class="col-8 left_menu_btns">
						<a href=""><button type="button" name="go_basket" value="공지사항">공지사항</button></a>
					</div>
				</div>
			</div>
			
			<div class="col-3 ">
				<div class="col-6 profile_picture">
					
				</div>
				<div class="col-12">
					<div class="col-12 user_welcome">
						<h2>짱구님 어서오세요 !</h2>
					</div>
				</div>
				
			</div>
			<div class="col-9 mypage_btn">
				<div class="col-12 mypage_btns">
					<a href="/member/profile"><button class="mypage_move_btn" type="button" name="" value="회원정보 수정">회원정보 수정</button></a>
				</div>
				<div class="col-12 mypage_btns">
					<a href="#"><button id="coupon" class="mypage_move_btn" type="button" name="" value="쿠폰 확인">쿠폰 확인</button></a>
				</div>
				<div class="col-12 mypage_btns">
					<a href=""><button class="mypage_move_btn" type="button" name="" value="주문내역">주문내역</button></a>
				</div>
				<div class="col-12 mypage_btns">
					<a href=""><button class="mypage_move_btn" type="button" name="" value="내가 쓴 후기">내가 쓴 후기</button></a>
				</div>
				<div class="col-12 mypage_btns">
					<a href=""><button class="mypage_move_btn" type="button" name="" value="최근 본 상품">최근 본 상품</button></a>
				</div>
				<div class="col-12 mypage_btns">
					<a href=""><button class="mypage_move_btn" type="button" name="" value="찜목록">찜목록</button></a>
				</div>
				<div class="col-12 mypage_btns">
					<a href=""><button class="mypage_move_btn" type="button" name="" value="회원탈퇴">회원탈퇴</button></a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12" id="footer" th:replace="/html/common/footer.html :: footer">
	</div>

</body>
</html>