<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/order_list.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/order_list.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="html/common/header :: header">

		</div>
	</div>
	<div class="col-12 modal">
		<div class="col-5 modal_content">
		    <div class="col-1 modal_out_btn">
		      	<img src="/img/delete_button.png">
		    </div>
		    <div class="col-12 modal_header">
		     	<h2>주문정보</h2>
		    </div>
		    <div class="col-12 modal_layout" id="content_top">
		        <div class="col-1 modal_image">
		        	<h2>이미지</h2>
		        </div>
		        <div class="col-4 modal_contents">
		        	<h2>제품명</h2>
		        </div>
		        <div class="col-1 modal_contents">
		        	<h2>개수</h2>
		        </div>
		        <div class="col-2 modal_contents">
		        	<h2>가격</h2>
		        </div>
		    </div>

		    <div class="col-12 modal_layout" id="modal_content">


		    </div>
		    <div class="col-12 total">
			    <h2>총가격</h2>
			    <p class="total_price"></p>
			</div>
		</div>
	</div>
	<div class="col-9 container">		
		<div class="col-12" id="product_order_content">
				<div class="col-12 content_header">
					<h2>주문정보</h2>
				</div>
				<div class="col-12 contents_header">
					<div class="col-2">
						<h2>제품 이미지</h2>
					</div>
					<div class="col-5">
						<h2>제품소개</h2>
					</div>
					<div class="col-1 ">
						<h2>배송상태</h2>
					</div>
					<div class="col-1">
						<h2>주문날짜</h2>
					</div>
					<div class="col-2">
						<h2>배송지</h2>
					</div>
					<div class="col-1">
						
					</div>
				</div>	
				<div class="col-12 product_order_contents" th:each="orders : ${ordersList}">
					<div class="col-2 product_order_content_image">
						<img th:src="'data:image/jpeg;base64,'+${orders.getOrdersItems().get(0).getProductThumbnail()}">
					</div>
					<div class="col-5 product_order_information">
						<h2 class="title_btn" th:text="${orders.getOrdersItems().get(0).getProductName()}">제품명</h2>
						<h2 class="productPrice"
							th:if="${orders.getOrdersItems().get(0).getProductDiscount() >0 ||orders.getOrdersItems().get(0).getProductDiscount()!=null}"
							th:text="${orders.getOrdersItems().get(0).getProductPrice() * (1 - orders.getOrdersItems().get(0).getProductDiscount()/100)} +' 원'">가격</h2>

						<h2 class="productPrice"
							th:if="${orders.getOrdersItems().get(0).getProductDiscount() ==0 ||orders.getOrdersItems().get(0).getProductDiscount()==null}"
							th:text="${orders.getOrdersItems().get(0).getProductPrice()} +' 원'">가

						<h2 th:if="${orders.getOrdersItems().get(0).getProductDiscount() >0 ||orders.getOrdersItems().get(0).getProductDiscount()!=null}"
							class="productDisCount" th:text="${orders.getOrdersItems().get(0).getProductDiscount()} +'%'"></h2>
						<p th:text="${orders.getOrdersItems().get(0).getProductShort()}">간략한 소개</p>
					</div>
					<div class="col-1 product_order_information">
						<h2 th:text="${orders.getOrdersStatus()}">배송중</h2>
					</div>
					<div class="col-1 product_order_information">
						<h4 th:text="${orders.getOrdersDate()}">2022-11-15</h4>
					</div>
					<div class="col-2 product_order_information" id="user_address">
						<p th:text="${orders.getOrdersZoneCode()}">우편번호</p>
						<p th:text="${orders.getOrdersAddress()}">경기도 광주시</p>
						<p th:text="${orders.getOrdersDetailAddress()}">상세주소</p>
					</div>
					<div class="col-1 product_order_quantity">
						<div>
							<button class="cancel_btn detail" th:id="'order' + ${orders.getOrderNo()}">주문상세</button>
							<a th:href="@{/order/delete(no=${orders.getOrderNo()})}"><button class="cancel_btn" type="button" name="cancel_btn" value="취소하기">취소하기</button></a>
						</div>
					</div>
				</div>
		</div>
	</div>

	<div class="col-12" id="footer" th:replace="html/common/footer.html :: footer">
	</div>

</body>
<script th:inline="javascript">

		var ordersList = [[${ordersList}]];
		console.log(ordersList)
		$(document).ready(function(){
			$(".modal_out_btn").click(function(){
				$(".modal").fadeOut();
				$("body").css("overflow","auto");
			});
			

			$('.total_price').text(parseInt(pri) + "원");
			ordersList.map(order => {
				$("#order"+order.orderNo).on("click",function(){
					let string = "";

					order.ordersItems.map(orderItem => {
						string+=`<div class="col-1 modal_image">
							<img src="data:image/jpeg;base64,${orderItem.productThumbnail}">
						</div>
						<div class="col-4 modal_contents">
							<h2 id="name">${orderItem.productName}</h2>
							<p id="short">${orderItem.productShort}</p>
							<p class="user_address">경기도 광주시</p>
						</div>
						<div class="col-1 modal_contents">
							<h2 id="count">${orderItem.count}</h2>
						</div>
						<div class="col-2 modal_contents">
							<h2 class="price">${orderItem.productPrice} 원</h2>
						</div>`
					})
					$("#modal_content").html(string);

					$('.detail').click(function() {
						$('.modal').fadeIn();
						$('.modal_content').css({
							"top": (($(window).height() - $(".modal_content").outerHeight()) / 2 + $(window).scrollTop()) + "px"
						}).show();

						$("body").css("overflow","hidden");
					});

				})
			})
		})

</script>
</html>