<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/profile.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	<script src="/js/profile.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12" id="content">
			<form action="/member/profile" enctype="multipart/form-data">
			<div class="col-12 content_header" id="profile_content_header">
				<h2 class="col-12">마이페이지</h2>
			</div>	
			<div class="col-3">
				<div class="col-6 profile_picture">
					<img src="/img/profile_picture_img.png" class="profile_image" th:if="${session.user.getMemberImage() ==null}"/>
					<img th:src="'data:image/jpeg;base64,'+${session.user.getMemberImage()}"
						 src="/img/profile_picture_img.png" class="profile_image" th:if="${session.user.getMemberImage() !=null}">
					<label class="col-1 input_file_button" for="profile_picture_btn"><img src="/img/plus_button.png"></label>
					<input id="profile_picture_btn" type="file" name="profile_picture_btn" onchange="readprofile(this)">
				</div>
			</div>
			<div class="col-12" id="profile_infomation">
				<div class="col-2 profile_infomations">
					<h2>아이디</h2>
				</div>
				<div class="col-10 profile_user_infomation">
					<input type="" name="" disabled="disabled" th:placeholder="${session.user.getMemberId()}">
				</div>

				<div class="col-2 profile_infomations">
					<h2>이름</h2>
				</div>
				<div class="col-10 profile_user_infomation">
					<input type="" name="" disabled="disabled" placeholder="maria">
				</div>

				<div class="col-2 profile_infomations">
					<h2>기본배송지</h2>
				</div>
				<div class="col-10 profile_user_infomation" id="profile_address">
					<h4>주소</h4>
					<input class="col-10" type="text" name="address" th:value="${session.user.getMemberAddress()}">
					<h4>상세주소</h4>
					<input class="col-10" type="text" name="addressDetail" value="우림아파트 103동 1204호">
				</div>

				<div class="col-2 profile_infomations">
					<h2>이메일</h2>
				</div>
				<div class="col-10 profile_user_infomation" id="profile_email">
					<input type="text" name="email" th:value="${session.user.getMemberEmail()}">
				</div>
				
			</div>
			<div class="col-2 insert_btn" id="profile_submit">
				<input id="profile_btn" type="submit" name="profile_submit" value="변경하기">
			</div>
			</form>
		</div>
	</div>
	
   <div class="col-12" id="footer">

   </div>
</body>
</html>