<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="html/common/header :: header">

		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12" id="registration_content">
			
			<div class="col-12 content_header">
				<h2>최근 본 상품</h2>
			</div>
			<form>
				<div class="col-12 product_order_contents">
					<div class="col-2 product_order_content_image" >
						
					</div>
					<div class="col-6 product_order_information">
						<h2>제품명</h2>
						<h2>가격</h2>
					</div>
					<div class="col-2 recently_viewde_products">
						<input class="recently_viewde_products_btn" type="button" name="purchase_btn" value="구매하기">
						<input class="recently_viewde_products_btn" type="button" name="basket_btn" value="장바구니">
					</div>
				</div>
			</form>
			<form>
				<div class="col-12 product_order_contents">
					<div class="col-2 product_order_content_image">
						
					</div>
					<div class="col-6 product_order_information">
						<h2>제품명</h2>
						<h2>가격</h2>
					</div>
					<div class="col-2 recently_viewde_products">
						<input class="recently_viewde_products_btn" type="button" name="purchase_btn" value="구매하기">
						<input class="recently_viewde_products_btn" type="button" name="basket_btn" value="장바구니">
					</div>
				</div>
			</form>
			
		</div>
	</div>

	<div class="col-12" id="footer" th:replace="html/common/footer.html :: footer">
	</div>

</body>
</html>