<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/swiper.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
	<script src="../js/swiper.min.js"></script>

</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>
		
			
	<div class="col-9 container">		
		<div class="col-12">
			<form>
				<div class="col-12 content_header">
					<h2 class="col-12">찜목록</h2>
				</div>

				<div class="col-11 basket_content_container">
					<div class="col-1 basket_content_image">
						<img src="img/snack_photo1.png">
					</div>
					<div class="col-9 basket_content_font">
						<h2>포카칩 오리지널맛 200g </h2>
						<p>asdasdasdasdasdasdasdasd</p> 
					</div>
					<div class="col-1 basket_content_counter">
						<h2>수량</h2>
						<input type='button'
						       onclick='count("plus")'
						       value='+'/>
						<div id='result'>1</div>
						<input type='button'
						       onclick='count("minus")'
						       value='-'
						       name="min" />
						
						
					</div>
					<div class="col-1 basket_content_delete">
						
					</div>
				</div>	
			</form>	
		</div>
	</div>
	</div>	
   <div class="col-12" id="footer">

   </div>
   <script src="/common/js/footer.js"></script>

</body>
</html>