<div class="col-12" id="header" th:fragment="header">
    <div class="col-12" id="a">
        <ul class="col-12" id="top_a">
            <li><a href="/notice">공지사항</a></li>
            <li th:if="${session.user !=null}" ><a href="/member/basket">장바구니</a></li>
            <li th:if="${session.user !=null}" ><a href="/member/order">주문정보</a></li>
            <li th:if="${session.user ==null}"><a href="/login">로그인</a></li>
            <li th:if="${session.user ==null}"><a href="/member/join">회원가입</a></li>
            <li th:if="${session.user !=null}"><a href="/member/mypage">마이페이지</a></li>
            <li th:if="${session.user !=null}"><a href="/logout">로그아웃</a></li>
            <li th:if="${session.user !=null}" th:text="${session.user.getMemberName()+'님 환영합니다.'} "></li>
        </ul>
    </div>
    <div class="col-12" id="searchs">
        <div class="col-4" id="search">

            <div class="col-12" id="search_main_input">
                <h2>Search</h2>
                <input class="col-10" type="text" name="text" placeholder="검색할 내용을 입력하세요.">
                <div class="col-1" id="search_btn"></div>

            </div>
        </div>
    </div>
    <div class="col-12" id="navigation_bar">
        <div class="col-2" id="logo">
            <a href="/"><img src="/img/logo2.png"></a>
        </div>
        <div class="col-10" id="gnb">
            <ul class="col-12" id="gnb_bar">
                <li><a href="/product/category?category=인기상품">인기상품</a></li>
                <li><a href="/product/category?category=세일상품">세일상품</a></li>
                <li><a href="/product/category?category=크리스피">크리스피</a></li>
                <li><a href="/product/category?category=캔디">캔디</a></li>
                <li><a href="/product/category?category=초콜릿">초콜릿</a></li>
                <li><a href="/product/category?category=음료">음료</a></li>
                <li><a href="/product/category?category=럭키박스">럭키박스</a></li>
            </ul>
        </div>
    </div>
</div>