<div class="col-12 mylist" id="mylist" th:fragment="mylist">
	<div class="col-2 wishlist">
		<div class="col-12 list_title" id="wishlist">
			<h2>찜목록</h2>
			<img id="wishlist_dropdown" class="dropdown" src="/img/down_arrow2.png">
		</div>
		<div class="col-12 list_content" id="wishlist_content">
			<div class="col-12 list_contents">
				<div class="col-2 list_image">
					<img src="">
				</div>
				<div class="col-9 list_text">
					<h2>제품명</h2>
					<p>이것은 엄청난 제품 이것은 엄청난 제품</p>
				</div>
			</div>
			<div class="col-12 list_contents">
				<div class="col-2 list_image">
					<img src="">
				</div>
				<div class="col-9 list_text">
					<h2>제품명</h2>
					<p>이것은 엄청난 제품 이것은 엄청난 제품</p>
				</div>
			</div>
			<div class="col-12 list_contents">
				<div class="col-2 list_image">
					<img src="">
				</div>
				<div class="col-9 list_text">
					<h2>제품명</h2>
					<p>이것은 엄청난 제품 이것은 엄청난 제품</p>
				</div>
			</div>
			
			<div class="col-12 list_more">
				<button>더보기</button>
			</div>
		</div>
		<!-- 장바구니  -->
		<div class="col-12 list_title" id="basketlist">
			<h2>장바구니</h2>
			<img id="basket_dropdown" class="dropdown" src="/img/down_arrow2.png">
		</div>
		<div class="col-12 list_content" id="basketlist_content">
			<div class="col-12 list_contents">
				<div class="col-2 list_image">
					<img src="">
				</div>
				<div class="col-9 list_text">
					<h2>제품명</h2>
					<p>이것은 엄청난 제품 이것은 엄청난 제품</p>
				</div>
			</div>
			<div class="col-12 list_contents">
				<div class="col-2 list_image">
					<img src="">
				</div>
				<div class="col-9 list_text">
					<h2>제품명</h2>
					<p>이것은 엄청난 제품 이것은 엄청난 제품</p>
				</div>
			</div>
			<div class="col-12 list_contents">
				<div class="col-2 list_image">
					<img src="">
				</div>
				<div class="col-9 list_text">
					<h2>제품명</h2>
					<p>이것은 엄청난 제품 이것은 엄청난 제품</p>
				</div>
			</div>
				
			<div class="col-12 list_more">
				<button>더보기</button>
			</div>
		</div>
	</div>
</div>
	

<script type="text/javascript" src="/js/content_list.js"></script>