<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>

	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/product_detail.css">
	<link rel="stylesheet" type="text/css" href="/common/css/swiper.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	<script src="/js/swiper.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/slide.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="html/common/header :: header">

		</div>
	</div>
		
			<div class="col-12" id="banner">
				<div id="main_slider" class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="/img/banner1.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="/img/banner2.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="/img/banner3.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="/img/banner4.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="/img/banner5.png" alt="Slide 1" /></div>
					</div>	
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>	
			</div>
	<div class="col-9 container">		
		<div class="col-12" id="content">
			<div class="col-12 content_header" id="main_content_header">
				<h2 class="col-2">오늘의 추천</h2>
				<!-- 관리자만 보이는 버튼 (글쓰기) -->
				<a id="product_admin_write" href="/product/insert">상품등록</a>

				</div>
			</div>

			<div class="col-12" id="content_main" >
				<div class="col-3 content" th:each="product : ${productList}">
					<a th:href="@{/product/detail(no=${product.getProductNo()})}">
						<img th:src="'data:image/jpeg;base64,'+${product.getProductThumbnail()}"
							 th:if="${product.getProductThumbnail()!= null}">
						<p th:text="${product.getProductName()}"></p>
						<div>
							<p class="price" th:text="${product.getProductPrice()} + '원'"></p>
							<h2 class="discount_price"th:if="${product.getProductPrice()} != (${product.getProductPrice()}*(1-(${product.getProductDiscount()}/100)))" th:text="(${product.getProductPrice()}*(1-(${product.getProductDiscount()}/100)))"></h2>
						</div>
						
						<p class="discount" th:if="${product.getProductDiscount() !=0}" th:text="${product.getProductDiscount()} + '% 할인!'"></p>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-12" id="footer" th:replace="html/common/footer.html :: footer">
	</div>

</body>


</html>