<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="common/css/style.css">
	<link rel="stylesheet" type="text/css" href="common/css/swiper.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script src="js/swiper.min.js"></script>

	<script type="text/javascript" src="js/slide.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>
		
			<div class="col-12" id="banner">
				<div id="main_slider" class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="img/a.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="img/b.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="img/c.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="img/d.png" alt="Slide 1" /></div>
						<div class="swiper-slide"><img src="img/dong5.jpeg" alt="Slide 1" /></div>
					</div>	
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>	
			</div>
	<div class="col-9 container">		
		<div class="col-12" id="content">
			<div class="col-12 content_header" id="main_content_header">
				<h2 class="col-2">오늘의 추천</h2>
				<!-- 관리자만 보이는 버튼 (글쓰기) -->
				<input id="porduct_admin_write" type="button" name="porduct_admin_write_btn" value="상품등록">
					
				</div>
			</div>
		
				
			
			<div class="col-12" id="content_main">
				<div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div><div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div>
				<div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div>
				<div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div>
				<div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div>
				<div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div>
				<div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div>
				<div class="col-3 content">
					<a href="/product/detail">
						<img src="img/asd.jpg">
						<p>간략한 소개입니다 입니다 입니다.입니다.입니다.입니다.입니다.입니다 인비낟</p>
						<h2>가격</h2>
					</a>
				</div>
				
				<div id="page_move">
					<ul>
						<li><a href=""><</a></li>
						<li><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">4</a></li>
						<li><a href="">5</a></li>
						<li><a href="">></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-12" id="footer">

	</div>

</body>
	<script src="/common/js/footer.js"></script>


</html>