<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵_마이페이지</title>
	
	<link rel="stylesheet" type="text/css" href="../common/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header">
			<div class="col-12" id="a">
				<ul class="col-12" id="top_a">
					<li><a href="#">공지사항</a></li>
					<li><a href="#">친구목록</a></li>
					<li><a href="#">장바구니</a></li>
					<li><a href="#">주문정보</a></li>
					<li><a href="/mypage">마이페이지</a></li>
					<li><a href="/logout">로그아웃</a></li>
				</ul>
			</div>
			<div class="col-12" id="searchs">
				<div class="col-4" id="search">
					
					<div class="col-12" id="search_main_input">
						<h2>Search</h2>
						<input class="col-10" type="text" name="text" placeholder="검색할 내용을 입력하세요.">
						<div class="col-1" id="search_btn"></div>
						
					</div>
				</div>
			</div>
			<div class="col-12" id="navigation_bar">
				<div class="col-2" id="logo">
					<a href="/"><img src="../img/logo2.png"></a>
				</div>
				<div class="col-10" id="gnb">
					<ul class="col-12" id="gnb_bar">
						<li><a href="#">인기상품</a></li>
						<li><a href="#">세일상품</a></li>
						<li><a href="#">크리스피</a></li>
						<li><a href="#">캔디</a></li>
						<li><a href="#">초콜릿</a></li>
						<li><a href="#">음료</a></li>
						<li><a href="#">럭키박스</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12" id="content">
		
			<div class="col-12 content_header" id="profile_content_header">
				<h2 class="col-12">마이페이지</h2>
			</div>	
			<div class="col-3">
				<div class="col-6" id="profile_picture">
					<button><img src="../img/plus_button.png"></button>
				</div>
			</div>
			<div class="col-12" id="profile_infomation">
				<div class="col-2 profile_infomations">
					<h2>아이디</h2>
				</div>
				<div class="col-10 profile_user_infomation">
					<input type="" name="" disabled="disabled" placeholder="hello">
				</div>

				<div class="col-2 profile_infomations">
					<h2>비밀번호</h2>
				</div>
				<div class="col-10 profile_user_infomation" id="profile_pwd_change">
					<input type="password" name="pwd_change" placeholder="비밀번호">
					<input type="password" name="pwd_change" placeholder="비밀번호 확인">
					<button>변경하기</button>
				</div>

				<div class="col-2 profile_infomations">
					<h2>이름</h2>
				</div>
				<div class="col-10 profile_user_infomation">
					<input type="" name="" disabled="disabled" placeholder="maria">
				</div>

				<div class="col-2 profile_infomations">
					<h2>주소</h2>
				</div>
				<div class="col-10 profile_user_infomation" id="profile_address">
					<input type="text" name="address" value="경기도 광주시 양벌2동 123-23">
					<button>변경하기</button>
				</div>

				<div class="col-2 profile_infomations">
					<h2>이메일</h2>
				</div>
				<div class="col-10 profile_user_infomation" id="profile_email">
					<input type="text" name="email" value="nice@naver.com">
					<button>변경하기</button>
				</div>
				
			</div>
			<div class="col-2 insert_btn" id="profile_submit">
				<input type="submit" name="profile_submit" value="변경하기">
			</div>
			
		</div>
	</div>
	
   <div class="col-12" id="footer">

   </div>
   <script src="/common/js/footer.js"></script>
</body>
</html>