<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/notice_insert.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	<script src="/js/profile.js"></script>
	<script src="/js/notice_insert.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12" id="notice_insert_content">
			<div class="col-12 content_header" id="notice_insert_content_header">
				<h2>공지사항 등록</h2>
			</div>
				<div class="col-12" id="notice_insert_content_container">

					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>제목</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<input type="text" name="title" placeholder="제목을 입력해주세요.">
						</div>
					</div>

					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>작성자</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<input type="text" name="writer" th:value="${session.user.getMemberName()}" disabled="disabled">
						</div>
					</div>

					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>사진첨부</p>
						</div>
						<div class="col-11 notice_insert_contents" id="insert_content_image">
							<label class="col-1" for="insert_content_image_upload">업로드</label>
							<input type="file" id="insert_content_image_upload" name="image" value="이미지 찾기" accept="image/*" onchange="readURL(this)">
						</div>
					</div>

					<div class="col-12 notice_insert_content" id="notice_insert_text" >
						<div class="col-12 notice_insert_contents" id="noticeHedaer">
							<p>내용</p>
						</div>
						<div class="col-12 notice_insert_contents" id="notice_insert_contnet_content" contentEditable="true">
							
						</div>
					</div>

				</div>
				<div class="col-2 insert_btn">
	            	<input type="submit" name="sign_up_submit" value="등록" onSubmit="return false;" id="submit">
	            </div>
		</div>
	</div>
	<div class="col-12" id="footer" th:replace="/html/common/footer.html :: footer"></div>

</body>
<script>
	$("#submit").on("click",function (){
		var title = $("input[name=title]").val();
		var content = $("#notice_insert_contnet_content").html();
		$.ajax({
			url:"/notice/insert",
			type:"POST",
			data:JSON.stringify({
				title:title,
				content:content,
			}),
			dataType : "json",
			contentType: 'application/json',
			success:(data)=>{
				console.log(title)
				console.log(content)
				console.log(data)
				location.href="/notice"
			},
		});
	})

</script>
</html>