<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12" id="registration_content">
			<div class="col-12 content_header">
				<h2>상품등록</h2>
			</div>
			<div class="col-12" id="registration_upload_container">
				<div class="col-2" id="registration_upload_image">
					
				</div>
				<div class="col-10" id="registration_upload_btn">
					<input type="file" name="registration_upload_btn">
				</div>


			</div>
			<form class="col-12" action="/product/insert" method="post">
			<div class="col-12" id="registration_contents">

					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>제품명</p>
						</div>
						<div class="col-11 notice_insert_contnets">
							<input type="text" name="name" placeholder="제품명을 입력해주세요.">
						</div>
					</div>
					
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>가격</p>
						</div>
						<div class="col-11 notice_insert_contnets">
							<input type="text" name="price" placeholder="가격을 입력해주세요.">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>수량</p>
						</div>
						<div class="col-11 notice_insert_contnets">
							<input type="text" name="count" placeholder="수량을 입력해주세요.">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>할인율</p>
						</div>
						<div class="col-11 notice_insert_contnets">
							<input type="text" name="discountRate" placeholder="할인율을 입력해주세요.">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>카테고리</p>
						</div>
						<div class="col-11 notice_insert_contnets">
							<select name="category" id="registration_category_choice">
							    <option value="" selected="selected">카테고리 선택</option>
							    <option value="세일상품">세일상품</option>
							    <option value="크리스피" >크리스피</option>
							    <option value="기타">캔디</option>
							    <option value="기타">초콜릿</option>
							    <option value="기타">음료</option>
							</select>
						</div>
					</div>
					<div class="col-12 notice_insert_content" id="registration_content_text">
						<div class="col-12">
							<p>내용</p>
						</div>
						<div class="col-12 " id="registration_contnet_content">
							<textarea class="col-12" name="content" placeholder="내용을 입력해주세요."></textarea>
						</div>
					</div>

			</div>
			<div class="col-2 insert_btn">
            	<input type="submit" name="sign_up_submit" value="등록">
            </div>
			</form>
		</div>

	</div>
	
   <div class="col-12" id="footer">

   </div>
   <script src="/common/js/footer.js"></script>

</body>
</html>