<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	  <script type="text/javascript" src="/js/product_insert.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>

	<div class="col-9 container">		
		<div class="col-12" id="registration_content">
			<form class="col-12" action="/product/insert" method="post" enctype="multipart/form-data">
				<div class="col-12 content_header">
					<h2>상품등록</h2>
				</div>
				<div class="col-12 registration_upload_container">
					<div class="col-2 registration_upload_image" id="registration_upload_image">
						<img src="" class="insert_img">
					</div>
					<div class="col-10 registration_upload_btn">
						<label for="product_insert_img">대표사진</label>
						<input id="product_insert_img" type="file" name="product_insert_img" accept="image/*" onchange="productinsert(this)">
					</div>
				</div>
				<div class="col-12" id="registration_contents">

					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>제품명</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<input type="text" name="name" placeholder="제품명을 입력해주세요.">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>간략한 소개</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<input type="text" name="short_content" placeholder="간략한 소개를 입력해주세요..">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>가격</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<input type="text" name="price" placeholder="가격을 입력해주세요.">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>수량</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<input type="text" name="count" placeholder="수량을 입력해주세요.">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>할인율</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<input type="text" name="discountRate" placeholder="할인율을 입력해주세요.">
						</div>
					</div>
					<div class="col-12 notice_insert_content" >
						<div class="col-1">
							<p>카테고리</p>
						</div>
						<div class="col-11 notice_insert_contents">
							<select name="category" class="registration_category_choice" required>
							    <option value="" selected="selected">카테고리 선택</option>
								<option value="크리스피" >크리스피</option>
								<option value="캔디">캔디</option>
								<option value="초콜릿">초콜릿</option>
								<option value="음료">음료</option>
							</select>

							<select name="category_detail"  class="registration_category_choice" required>
							    <option value="" selected="selected">카테고리 선택</option>
							    <option value="세일상품">묶음상품</option>
							    <option value="크리스피" >단일상품</option>
							</select>
						</div>
					</div>
					<div class="col-12 notice_insert_content" id="registration_content_text">
						<div class="col-12">
							<p>내용</p>
						</div>
						<div class="col-12 " id="registration_contnet_content">
							<textarea class="col-12" name="content" placeholder="내용을 입력해주세요."></textarea>
						</div>
					</div>
					<div class="col-12 registration_upload_container">
						<div class="col-2 registration_upload_image">
							<img src="" class="content_img">
						</div>
						<div class="col-10 registration_upload_btn">
							<label for="product_content_img">상세이미지</label>
							<input id="product_content_img" type="file" name="product_content_img" accept="image/*" onchange="productcontent(this)">
						</div>
					</div>
				</div>
				<div class="col-2 insert_btn">
	            	<input type="submit" name="sign_up_submit" value="등록">
	            </div>
			</form>
		</div>
	</div>

	<div class="col-12" id="footer" th:replace="/html/common/footer.html :: footer">
	</div>
</body>
<script>
	$("input[name='image']").on("change",function(e){
		const reader = new FileReader();
		console.log(e)
		if( e.length<=0) {
			return;
		}
		reader.onload = function (ee) {

			$("#registration_upload_image").html("<img src='" + ee.target.result+"'/>") // div 안에 img 만드는 버전
			//$("#registration_upload_image").css("background-image","url("+ee.target.result+")"); // div 백그라운드 바꾸는 버전

		}
		reader.readAsDataURL(e.target.files[0]);

	})
</script>
</html>