.quantity{
	display: flex;
	align-items: center;
    flex-direction: column;
}
.quantity > h2{
	text-align: left;
}
.count{
	margin-top: 10px;
	text-align: left;
}
.plus, .minus{
	width:25px;
	height: 25px;
	border-radius: 100%;
	border:solid 1px #ececec;
	background-color:transparent;
	background-position: center center;
	cursor: pointer;
}
.plus{
	background-image: url("/img/plus.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.minus{
	background-image: url("/img/minus.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.number{
	width:35px;
	height: 25px;
	outline: none;
	border:1px solid #ececec;
	padding: 5px;
	position: relative;
    bottom: 8px;
    text-align: center;
}
.price{
	display: flex;
    align-items: center;
    flex-direction: column;
}
.price > h2{
	margin-bottom: 10px;
}
.totalPrice{
	text-align: right;
    margin-top: 30px;
}
.totalPrice > h2{
	margin-bottom: 30px;
	padding-top: 10px;
    border-top: solid 1px #a9a9a9;
    font-size: 1.8em;
}
.totalPrice > p{
	font-size: 1.3em;
}
.listCheck{
	line-height: 100px;
	text-align: center;
}
.listCheck > input{
	width: 20px;
	height: 20px;
}
#contentHeader{
	height: 50px;
    text-align: center;
    line-height: 50px;
    background: #e9e9e9;
}