#notice_insert_contnet_content{
	height: 1000px;
	padding:10px;
	font-size: 0.8em;
	overflow-y: scroll;
}
#notice_insert_contnet_content > div > div > img{
	width:400px;
	height: 400px;
}
#notice_insert_contnet_content > div > img{
	width:400px;
	height: 400px;
}
#notice_insert_text{
	height: 100%;
	margin-left:-1px;
}
#noticeHedaer{
	border-bottom: solid 1px #d9d9d9;
}