.product_insert_contents{
	height: 1000px;
	padding:10px;
	font-size: 0.8em;
	overflow-y: scroll;
}
.product_insert_contents  div{
	max-width: 90%;
}
.product_insert_contents img{
	max-width: 90%;
}

#registration_content_text{
	height: 100%;
}