<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/swiper.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>

	<script type="text/javascript" src="/js/basket.js"></script>
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="/html/common/header :: header">

		</div>
	</div>
		
			
	<div class="col-9 container">		
		<div class="col-12">
			<div class="col-12 content_header">
				<h2 class="col-12">장바구니</h2>
			</div>
			<form>
				<div class="col-11 basket_content_container">
					<div class="col-1 basket_content_image">
						<img src="../img/snack_photo1.png">
					</div>
					<div class="col-9 basket_content_font">
						<h2>포카칩 오리지널맛 200g </h2>
						<p>asdasdasdasdasdasdasdasd</p> 
					</div>
					<div class="col-1 basket_content_counter">
						<h2>수량</h2>
						<input type='button'
						       onclick='count("plus")'
						       value='+'/>
						<div id='result'>1</div>
						<input type='button'
						       onclick='count("minus")'
						       value='-'
						       name="min" />	
					</div>
					<div class="col-1 basket_content_delete">
						<button></button>
						<a href=""><button>구매하기</button></a>
					</div>
				</div>	
			</form>	
		</div>
	</div>
	</div>
	<div class="col-12" id="footer" th:replace="/html/common/footer.html :: footer">
	</div>
	<script src="/js/requestList.js"></script>
	<script>
		console.log(basketList);

	</script>
</body>
</html>