<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>과자샵</title>
	
	<link rel="stylesheet" type="text/css" href="/common/css/style.css">
	<link rel="stylesheet" type="text/css" href="/common/css/order_list.css">
	<link rel="stylesheet" type="text/css" href="/common/css/nonMember_order.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<script
	  src="https://code.jquery.com/jquery-3.6.1.min.js"
	  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	  crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="col-9 container">
		<div class="col-12" id="header" th:replace="html/common/header :: header">

		</div>
	</div>
	<div class="col-12 modal">
		<div class="col-5 modal_content">
		    <div class="col-1 modal_out_btn">
		      	<img src="/img/delete_button.png">
		    </div>
		    <div class="col-12 modal_header">
		     	<h2>주문정보</h2>
		    </div>
		    <div class="col-12 modal_layout" id="content_top">
		        <div class="col-1 modal_image">
		        	<h2>이미지</h2>
		        </div>
		        <div class="col-4 modal_contents">
		        	<h2>제품명</h2>
		        </div>
		        <div class="col-1 modal_contents">
		        	<h2>개수</h2>
		        </div>
		        <div class="col-2 modal_contents">
		        	<h2>가격</h2>
		        </div>
		    </div>
		    <div class="col-12 modal_layout" id="modal">

		    </div>
		    <div class="col-12 total">
		    	<h2>총가격</h2>
		    	<p class="total_price"></p>
		    </div>
		</div>
	</div>
	<div class="col-9 container">		
		<div class="col-12" id="product_order_content">
			<div class="col-12 content_header">
				<h2>비회원 주문정보</h2>
				<div class="orderContent">
					<input class="orderNumber" type="text" name="search" placeholder="주문번호를 입력해주세요.">
					<div>
						<button class="numberButton"><img src="/img/search_logo.png"></button>
					</div>
				</div>
			</div>
			<div class="col-12 contents_header">
				<div class="col-2">
					<h2>제품 이미지</h2>
				</div>
				<div class="col-5">
					<h2>제품소개</h2>
				</div>
				<div class="col-1 ">
					<h2>배송상태</h2>
				</div>
				<div class="col-1">
					<h2>주문날짜</h2>
				</div>

				<div class="col-2">
					<h2>배송지</h2>
				</div>
				<div class="col-1">
					
				</div>
			</div>	
			<div class="col-12 product_order_contents">
				<div class="col-2 product_order_content_image">
					<img class="product_order_content_image" id="productImage">
				</div>
				<div class="col-5 product_order_information">
					<h2 class="title_btn" id="productName">제품명</h2>
					<h2 id="productPrice">가격</h2>
					<h2 id="productdisCount"></h2>
					<p id="productShort">간략한 소개</p>
				</div>
				<div class="col-1 product_order_information">
					<h2 id="ordersStatus">배송현황</h2>
				</div>
				<div class="col-1 product_order_information">
					<h4 id="ordersDate">2022-11-15</h4>
				</div>
				<div class="col-2 product_order_information" id="user_address">
					<p id="zoneCode">우편번호</p>
					<p id="address">경기도 광주시</p>
					<p id="detailAddress">상세주소</p>
				</div>
				<div class="col-1 product_order_quantity">
					<div>
						<button class="cancel_btn detail">주문상세</button>
						<a href=""><button class="cancel_btn" type="button" name="cancel_btn" value="취소하기">취소하기</button></a>
					</div>
				</div>
			</div>	
		</div>
	</div>

	<div class="col-12" id="footer" th:replace="html/common/footer.html :: footer">
	</div>

</body>
<script>
	$(".numberButton").on("click",function(){
		console.log("검색")
		let no = $("input[name='search']").val();
		$.ajax({
			url:"/view/orders?no="+no,
			type:"POST",

			dataType : "json",
			contentType: 'application/json',
			success:(orders)=>{
				$("#productName").text(orders.ordersItems[0].productName)
				$("#productPrice").text(orders.ordersItems[0].productPrice + "원")
				$("#productShort").text(orders.ordersItems[0].productShort)
				$("#ordersStatus").text(orders.ordersStatus)
				$("#ordersDate").text(orders.ordersDate)
				$("#productImage").attr("src","data:image/png;base64,"+orders.ordersItems[0].productThumbnail)
				$('#productdisCount').text(orders.ordersItems[0].productDiscount);
				$("#zoneCode").text(orders.ordersZoneCode)
				$("#Address").text(orders.ordersAddress)
				$("#detailAddress").text(orders.ordersDetailAddress)

				console.log(orders)
				let html="";
				orders.ordersItems.map((ordersItem)=>{
					html+=`<div class="col-1 modal_image">
						<img src="data:image/png;base64,${ordersItem.productThumbnail}">
					</div>
					<div class="col-4 modal_contents">
						<h2>${ordersItem.productName}</h2>
						<p>${ordersItem.productShort}</p>
						<p class="user_address"></p>
					</div>
					<div class="col-1 modal_contents">
						<h2>${ordersItem.count}개</h2>
					</div>
					<div class="col-2 modal_contents">
						<h2 class="price">${ordersItem.productPrice} 원</h2>
					</div>`

				})
				$("#modal").html(html);
				$('.price').each(function(){
					let price; 
					price += parseInt($('.price').text());
					console.log(parseInt(price));
					$('.total_price').text(parseInt(price) + "원");
				});
				let disCount = parseInt($('#productdisCount').text());
		        let price = parseInt($('#productPrice').text());
		        let disPrice;
		        if(disCount > 0 || disCount != null){
		            disPrice = price * (1-(disCount/100));
		            $('#productPrice').text(parseInt(disPrice) + '원');
		            $('#productdisCount').css('display','none');
		            $('.price').text(parseInt(disPrice) + '원');
		            
		        }else if(disCount <= 0 || disCount == null){
		            $('#productdisCount').css('display','none');
		        }
		        console.log(disPrice);

			}
		});
	});


</script>
<script type="text/javascript" src="/js/nonMember_order.js"></script>  
</html>