<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>과자샵</title>
    <link rel="stylesheet" type="text/css" href="/common/css/style.css">
    <link rel="stylesheet" type="text/css" href="/common/css/notice_detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>
<body>
<div class="col-9 container">
    <div class="col-12" id="header" th:replace="/html/common/header :: header">

    </div>
</div>

<div class="col-9 container">
    <div class="col-12">
        <div class="col-12 content_header">
            <h2>공지사항</h2>
        </div>

        <div class="col-12" id="notice_detail_content_container">
            <div class="col-12 detail_content">
                <div class="col-12 detail_title">
                    <h2 th:text="${board.getBoardTitle()}"></h2>
                </div>
                <div class="col-12 write_name">
                    <div class="col-11 name">
                        <h2 th:text="${board.getBoardWriter().getMemberName()}">관리자</h2>
                        <p th:text="${board.getBoardDay()}">2022.11.17</p>
                    </div>
                    <div class="col-1 board_views">
                        <h2>조회수</h2>
                        <h2 th:text="${board.getBoardViews()}"></h2>
                    </div>
                    
                </div>
                <div class="col-12 notice_content">
                    <div class="col-12 notice_content_image">
                    <div class="col-12 notice_content_write" th:utext="${board.getBoardContent()}" id="notice_content">

                    </div>
                    <div class="col-12 go_list_btn">
                        <a th:href="@{/notice/update(no=${board.getBoardNo()})}"  th:if="${b}">
                            <button name="">수정하기</button>
                        </a>

                        <a th:href="@{/notice/delete(no=${board.getBoardNo()})}"
                           th:if="${b}">
                            <button name="">삭제하기</button>
                        </a>
                        <a href="/notice">
                            <button name="go_to_list_button">목록</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-12" id="footer" th:replace="/html/common/footer.html :: footer"></div>
</body>
</html>